<div class="container">
    <hr/>
    <!--<div class="row platinum sponsor">
        <div class="col-10 col-lg-6">
            <h2>Platinum sponsors:</h2>
            <a target="_blank" rel="noopener disown-opener noreferrer" href="http://example.org/platinum">
                <img src="/img/sponsors/platinum1.png" alt="Platino consultancy"/>
            </a>
        </div>
        <div class="col-10 col-lg-6">
            <div class="empty-head"></div>
            <a target="_blank" rel="noopener disown-opener noreferrer" href="http://example.org/platinum">
                <img class="spon_platinum" src="/img/sponsors/platinum2.png" alt="PLAT Geek Design"/>
            </a>
        </div>
        <div class="offset-lg-2 spacing-lg"></div>
        <div class="col-10 col-lg-5">
        </div>
    </div>
    <div class="spacing"></div>-->
    <div class="row gold sponsor">
        <div class="col-3 col-lg-3">
            <h2>Gold sponsors:</h2>
	        <a target="_blank" rel="noopener disown-opener noreferrer" href="https://picnic.app/careers/">
                <img src="/img/sponsors/gold_picnic.png" alt="Picnic"/>
            </a>
        </div>
        <!--<div class="col-6 col-lg-6">
            <div class="empty-head"></div>
	        <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/gold2.png" alt="Goldie Algorithms"/>
            </a>
        </div>-->
    </div>
    <div class="spacing"></div>
    <div class="row sponsor silver">
        <div class="col-4 col-lg-4">
            <h3>Silver sponsors:</h3>
	        <a target="_blank" rel="noopener disown-opener noreferrer" href="https://www.imc.com">
                <img src="/img/sponsors/silver_IMC.png" alt="IMC"/>
            </a>
        </div>
        <div class="col-3 col-lg-3">
            <div class="empty-head"></div>
	        <a target="_blank" rel="noopener disown-opener noreferrer" href="https://www.asml.com/en/careers">
                <img src="/img/sponsors/silver_asml.png" alt="ASML"/>
            </a>
        </div>
        <!--<div class="col-3 col-lg-3">
            <div class="empty-head"></div>
	        <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/silver3.png" alt="Mirror"/>
            </a>
        </div>
        <div class="col-3 col-lg-3">
            <div class="empty-head"></div>
	        <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/silver4.png" alt="Gummiebears"/>
            </a>
        </div>-->
    </div>
    <hr/>
</div>

