<div class="container">
    <hr/>
    <div class="row">
        <div class="col-10 col-lg-5">
            <h1>Main sponsor:</h1>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Main sponsor"/>
            </a>
        </div>
        <div class="offset-lg-2 spacing-lg"></div>
        <div class="col-10 col-lg-5">
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-6 col-lg-4">
            <h2>Partners:</h2>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Partner"/>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <div class="empty-head"></div>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Partner"/>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <div class="empty-head"></div>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Partner"/>
            </a>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-4 col-lg-2">
            <h3>Sponsors:</h3>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Sponsor"/>
            </a>
        </div>
        <div class="offset-lg-3 offset-0"></div>
        <div class="col-4 col-lg-2">
            <div class="empty-head"></div>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Sponsor"/>
            </a>
        </div>
        <div class="offset-lg-3 offset-0"></div>
        <div class="col-4 col-lg-2">
            <div class="empty-head"></div>
	    <a target="_blank" rel="noopener disown-opener noreferrer" href="#">
                <img src="/img/sponsors/sponser.jpg" alt="Sponsor"/>
            </a>
        </div>
    </div>
    <hr/>
</div>

